@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

@mixin mainTitle {

    font-size: 5rem;
    font-weight: 700;
    
}

@mixin cardTitle {

    font-size: 1.7rem;
    margin: .5rem 0;
}

@mixin cardSubTitle {

    font-size: 1.2rem;
    opacity: 20%;
    
}