@import './fonts';
@import './colors';
@import './mixins';
@import './layouts';


#portfolio {

    // background: url('../assets/bg-desktop-10.png');
    // background-repeat: repeat;
    // background-size: contain;

    min-height: 178vh;

    h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.cards-container {
    @include flexRowCenter();
    gap: 2rem;
    flex-wrap: wrap;

    :hover {
        cursor: pointer;
    }
}

.card {
    
    height: 65vh;
    width: 25%;

    margin: .5rem .6rem;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #fff;

    @include boxShadow();

    .preview-img {

        height: 50%;
        width: 100%;

        border-radius: 1.5rem 1.5rem 0 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 1.5rem 1.5rem 0 0;
        }

    }

    h3 {
        font-size: 1.7rem;
        margin: .5rem 0;
    }

    h5 {
        font-size: 1.2rem;
        opacity: 20%;
    }

    p {
        margin-top: 1.2rem;
    }

    .buttons {
        margin-top: 3rem;

        a {
            margin: 0 .5rem;

            transition: .5s ease-in-out;

            &:hover {
                font-size: 1.2rem;
            }
        }
    }
}

/* --- SMALL SCREENS --- */

@media only screen and (max-device-width: 480px) {

    #portfolio {


        .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        .card {
            width: 90%;
            height: 55vh;

            .buttons {

                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }

        :last-child {
            margin-bottom: 8rem;
        }
        }
    }
}

/* --- MEDIUM SCREENS --- */

@media only screen and (min-width: 768px) and (max-width: 979px) {

    #portfolio {


        .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        .card {
            width: 60%;
            height: 52vh;

            .buttons {

                font-size: 1.5rem;
            }

            h3 {
                font-size: 2.8rem;
                margin-top: 1rem;
            }

            h5 {
                font-size: 2.2rem;
            }

            p {
                font-size: 1.7rem;
            }
            
        }

        .buttons {
            margin-top: 3rem;
    
            a {
                margin: 0 .5rem;

                font-size: 2rem;
    
                transition: .5s ease-in-out;
    
                &:hover {
                    font-size: 1.2rem;
                }
            }
        }

        :nth-child(5) {
            margin-bottom: 10rem;
        }
        }
    }
}