@import './styles/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Yanone Kaffeesatz', sans-serif;
}

section {
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
}

.btn-primary {
    background: $mainGradient;
    padding: 1rem 1rem;
    color: white;
    border: none;
    border-radius: 2rem;
}

a {
    text-decoration: none;
}

/* ------------- SMALL SCREENS ------------- */

@media only screen and (max-device-width: 480px) {

    h1 {
        margin-top: 4rem;
    }
}